@model IEnumerable<AccountManager.Models.Enterprise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   
    <a href="/billing?op=customerbuy" class="btn btn-primary">Buy New Subscription</a>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxFemales)
        </th>
 
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxFemales)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
