

<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>Home</span></a></li>
<li><a href="@Url.Action("Index", "Subscription")"><i class="fa fa-home"></i> <span>My Subscriptions</span></a></li>
<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>Customers</span></a></li>
<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>Orders</span></a></li>
<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>Transaction History</span></a></li>

